@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Powiadomienia_Wyswietl_Result>

@{
    ViewBag.Title = "Powiadomienia";
}

<h2>Powiadomienia</h2>

<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Powiadomienia
            </th>
            <th>
                Data powiadomienia
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.rodzaj == (int)1)
                {
                <p>
                    Organizator
                    @Html.DisplayFor(itemmodel => item.Imie) @Html.DisplayFor(itemmodel => item.Nazwisko)
                    edytował wydarzenie "
                    @Html.DisplayFor(itemmodel => item.Tytul)
                    " do którego należysz



                </p>
                }
            </td>
            <td>
                @Html.DisplayFor(itemmodel => item.Data)
            </td>
            <td>
            </td>

        </tr>
        }
    </tbody>
</table>