@model KalendarzWydarzenRodzinnych.Models.Wpis

@{
    ViewBag.Title = "Usuń wpis";
}

<h2>Usuń wpis</h2>

<h3>Czy napewno chcesz usunąć element?</h3>
<div>

    <hr />

    <h4>Czy napewno chcesz usunąć relacje, która należy do wydarzenia: @Model.Wydarzenie.Tytul.</h4>
    <h5>Usunięie relacji spowoduje utratę wszystkich zdjęć, które do niej należą.</h5>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            @Html.ActionLink("Powrót do listy", "List", new { id = Model.id_wydarzenie }, new { @class = "btn btn-default" })
        </div>
    }
</div>