@model IEnumerable<KalendarzWydarzenRodzinnych.Models.WpisZdjecia>
@{
    ViewBag.Title = "DeleteFoto";
}

<h2>DeleteFoto</h2>

@foreach (var item in ViewBag.wpisZdjecia)
{
    <a href="~/Image/orginal/@item.zdjecie" data-toggle="lightbox" data-gallery="gallery">
        <img class="list-group-item imgmargin" src="~/Image/thumb/@item.zdjecie" />
    </a>
}