@{
    ViewBag.Title = "Link aktywacyjny";
}

<hgroup class="title">
    <h2>Aktywacja konta</h2>
</hgroup>
<div>
    <h4>
        Sprawdź pocztę e-mail.
    </h4>
    <h4>
    Link aktywacyjny został wysłany na podany przy rejestracji adres email. Sprawdź pocztę.
    </h4>
</div>
